

<h1> Hello world </h1>
<div><p>Welcome to my site!</p></div>
<div>
	<p><%= Time.now %></p>
	<p><%=link_to("ESPN", "http://www.espn.com")%></p>
	<p><%= @request.query.inspect %></p>
	<form method='post' action="<%= @request.path %>">
    First name: <input type="text" name="first_name" placeholder='first name'/><br />
    <input type="submit" value="Submit" />
</form>
<ul>
  <% ['basketball', 'football', 'ultimate'].each do |sport| %>
    <li>I like to play <%= sport %></li>
  <% end %>
</ul>
</div>